{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row class space-below">
        <div class="col-md-4">
            <h3 >Add a Product.</h3>
        </div>
    </div>

    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.category|as_crispy_field }}
                            </div>
        
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.price|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.stocks|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.no_purchases|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.description|as_crispy_field }}
    
                    <input type="submit" value="Add!" class="btn btn-success">
                </form>
            </div>
        {% else %}
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="font-weight-bold">Hold it right there!</h2>
                <h4 class="text-danger">You are not allowed on this page.</h4>
                <p class="text-muted">Please click the link below to log in.</p>
                <br>
                <a class="btn btn-primary btn-md text-center align-center" href="{% url 'login' %}" role="button">Login</a>
            </div>

            <div class="col-md-3"></div>
        
            </div>
        {% endif %}
    </div>
{% endblock content %}