{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   
    {% if user.is_authenticated %}
        <div class="row mb-4">
        <div class="col-md-8">
            <form method="POST" action="{% url 'products_list' %}">
                {% csrf_token %}
                <div class="form-row form-inline">
                    <div class="form-group col-md-5 offset-md-3">
                        {{ search_form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 ">
                        <button type="submit" value="search" class="btn btn-info">search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info " href="{% url 'create_product' %}">Add Product</a>
        </div>
        </div>
    {% else %}
        &nbsp;
    {% endif %}
    <div class="row">
            <table class="table table-striped">
                    <thead class="">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stocks</th>
                        <th scope="col">Number of Purchases</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in object_list %}
                            <tr>
                                <th scope="row"> {{ item.id }} </th>
                                <td> {{ item.name }} </td>
                                <td> {{ item.category }} </td>
                                <td> {{ item.price }} </td>
                                <td> {{ item.stocks }} </td>
                                <td> {{ item.no_purchases }} </td>
                                <td>
                                    <a href="{% url 'products_detail' item.slug %}">details...</a>
                                </td>
                            </tr>
                      {% endfor %}
                    </tbody>
                  </table>
    </div>
{% endblock content %}