{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop!</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-coy">
                        <a class="navbar-brand" href="#">Django Shop</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'products_list' %}">Products</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'create_product' %}">Add a Product</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#">Make a Transaction</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
        </header>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>