{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4" style="margin-left:auto;margin-right:auto;">
            Add a Product.
        </div>
    </div>


        <div class="col-md-12">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.category|as_crispy_field }}
                        </div>
    
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.price|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.stocks|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.no_purchases|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.description|as_crispy_field }}

                <input type="submit" value="Add!" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock content %}