{% extends 'base.html' %}



{% block content %}

    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-md-8">
                <div class="jumbotron">
                                <h1 class="display-4">Hello, {{ user.first_name }}!</h1>
                                <p class="lead">Welcome to Django Shop - Grocery System.</p>
                                <hr class="my-4">
                                <p>Today is {{ time|date:"F d, Y" }}</p>
                                <p class="lead text">
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Make a Transaction</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-primary btn-lg" href="{% url 'products_list' %}" role="button">Products</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-primary btn-lg" href="{% url 'customers' %}" role="button">Customers</a>
                                </p>
                </div>
        
        </div>
        {% else %}
        <div class="col-md-8">
            <div class="jumbotron text-center">
                            <h2 class="display-3">You are not logged in.</h2><br><br>
                            <h4 class="display-5">Please click link below to log in.</h4>
                            <br>
                            
                            <p class="lead text-center">
                                <br>
                                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
                                    <br><br>
                            </p>
            </div>
    
        </div>
        
        {% endif %}



        <div class="col-md-4">
        <div class="content-section">
            <h3>User</h3>
            <a class="text" href="#">Check My Profile</a>
            <p class='text-muted'>The shop's top products</p>
            <ul class="list-group">
                {% for item in object_list %}
                <li class="list-group-item list-group-item-light">
                        {{ item.name }} ( {{item.no_purchases}} )
                        <a href="{% url 'products_detail' item.slug %}">see more...</a>

                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
        </div>
    </div>

{% endblock content %}