{% extends 'base.html' %}



{% block content %}

    <div class="row">
        <div class="col-md-8">
                <div class="jumbotron">
                                <h1 class="display-4">Hello,User!</h1>
                                <p class="lead">Welcome to Django Shop - Grocery System.</p>
                                <hr class="my-4">
                                <p>Today is {{ time|date:"F d, Y" }}</p>
                                <p class="lead">
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Make a Transaction</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-primary btn-lg" href="{% url 'products_list' %}" role="button">Show products</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-primary btn-lg" href="{% url 'create_product' %}" role="button">Add a product</a>
                                </p>
                </div>
        
        </div>


        <div class="col-md-4">
        <div class="content-section">
            <h3>User</h3>
            <a class="text" href="#">Check My Profile</a>
            <p class='text-muted'>The shop's top products</p>
            <ul class="list-group">
                {% for item in object_list %}
                <li class="list-group-item list-group-item-light">
                        {{ item.name }} ( {{item.no_purchases}} )
                        <a href="{% url 'products_detail' item.slug %}">see more...</a>

                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
        </div>
    </div>

{% endblock content %}