{% extends 'base.html' %}



{% block content %}
    <div class="row coy-row1">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <h2>Home. (this is just a test)</h2>

        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row coy-row1">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at tempus odio, at iaculis orci. Aliquam erat volutpat. Nullam et erat a purus maximus sollicitudin. Aliquam erat volutpat. Etiam venenatis non metus eget aliquet. Duis tempus nibh vel quam condimentum, aliquam gravida erat convallis. Pellentesque sagittis eget risus eu semper. Morbi eget ante eleifend, mattis metus et, imperdiet enim. Aliquam laoreet ligula quis nisi lobortis, at finibus orci pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et
                     malesuada fames ac turpis egestas. Praesent dictum tincidunt sodales. Sed eu purus porttitor turpis consequat rhoncus id vel nulla. In hac habitasse platea dictumst. Duis mollis turpis varius odio ornare tincidunt.</p>

        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row coy-row1">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <h2>We sell products from these categories:</h2>
                    <ul>
                        {% for item in categories %}
                            <li> {{ item.name }} </li>
                        {% endfor %}
                    </ul>
    
            </div>
            <div class="col-md-3"></div>
    </div>

    <div class="row coy-row1">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <h2>Our top 3 products</h2>
                    {% for item in object_list %}
                    <h3> {{ item.name }} </h3>
                    <h4> {{item.category}} </h4>
                    <p> {{ item.no_purchases }} </p>
                    {% endfor %}
    
            </div>
            <div class="col-md-3"></div>
{% endblock content %}