{% extends 'base.html' %}

{% block content %}
   <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8 text-center">
            {% if item %}
                <h1> {{ item.name }} </h1>
                <h2> {{ item.category }} </h2>
                <h3>Price: <i> {{ item.price }} </i> </h3>
                <h3>{{ item.pub_date }}</h3>
                <h3>{{ item.stocks }}</h3>
                <p class="lead"> {{ item.description }} </p>

                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'product_update' item.slug %}" role="button">Edit this...</a>
                {% else %}
                {% endif %}
            {% else %}
            {% endif %}
       </div>
       <div class="col-md-2"></div>
   </div>
{% endblock content %}