{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if object_list %}
                {% for item in object_list %}
                    <div class="col-md-3">
                        <h3> {{ item.name }} </h3>
                        <h4> {{ item.category }} </h4>
                        <h5> {{ item.no_purchases }} </h5>
                        <h4> {{ item.price }} </h4>
                        <p>
                            <a href="{% url 'products_detail' item.slug %}">Details...</a>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Oops! There seems to be nothing in the database.</p>
            {% endif %}
            
        </div>


        <div class="col-md-2"></div>
    </div>
{% endblock content %}